#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.logo {
  height: 12em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Media Query for screens smaller than 768px (typical mobile devices) */
@media only screen and (max-width: 767px) {
  #root {
    padding: 1rem;
  }

  .logo {
    height: 6em;
    padding: 1em;
  }
}
a {
  text-decoration: none;
  font-size: larger;
}

@font-face {
  font-family: 'Azeret';
  src: url('../Azeret_Mono/AzeretMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, .content-home {
  font-family: 'Azeret', sans-serif; 
}
h1, Meta{
  font-family: Azeret;
  font-weight: medium;
  font-style: small;
}

.content{
  font-family: "source-seif-pro";
  src: url("../fonts/source-serif-pro/SourceSerifPro-Regular.ttf") format(truetype);
  
}